body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a1c3b3;
    color: #a1c3b3;
    text-align: center;
    padding: 1em;
}

.topnav {
    background-color: #444;
    color:#a1c3b3;
    text-align: center;
    padding: 5em;
}


.topnav a:hover {
    background-color: #555;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #a1c3b3;
}
.topnav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

article {
   
    background-color: white;
    padding: 1em;
    margin: 0 1em;
    
}

.read-more {
    display: none;
    
  
}

.read-more-link {
    color: #007BFF;
    cursor: pointer;
}
#reactions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.reaction {
    cursor: pointer;
